.rectangle15 {
    position: absolute;
    width: calc(15% + 1vw + 1vh);
    height: calc(10% + 0.5vw + 1vh);
    padding-top: 1%;
}

.rectangle17 {
    

    position: absolute;
    padding-top: 2%;
    width: calc(95% + 1vw + 1vh);
    background: linear-gradient(180deg, rgba(119, 160, 32, 0.46) 5.21%, rgba(12, 15, 4, 0) 100%);
    border: none solid rgba(153, 230, 161, 0.64);
    border-radius: 0px 0px 50px 50px;

}



th {
    
    font-weight: bold;
}

table, tr, td, th, thead {
    border: none;
    padding-left: 5%;
   
}




