.social {
  width: calc(5% + 0.5vw + 1vh);
  height: calc(3% + .5vw + 1vh);
  border-radius: 2px;
}

.label{
  font-size:16px;
  font-family:'Arial';
  text-align: center;
  display:block;
  
  padding:20px;
  color: #000000;

  border: 1px solid rgba(0, 0, 0, 0.2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
  .socials {
      padding-left:52%;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
  .socials {
      padding-left: 2%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .socials {
      padding-left: 2%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .socials {
      padding-left: 2%;
  }
}
