.card {
    border-bottom-right-radius: 0.2em;
    border-top-left-radius: 2em;
    box-shadow: 1px 1px 11px #e1e1e1;
  }
  .card {
    background-size: 10%;
    background-position: right;
  }

  .align-right {
    text-align: 20;
    border: 0;
  }
  .btn1{
       position: absolute;
       bottom: 250px;
       left: 100px;    
  }
  .btn2{
    position: absolute;
       bottom: 250px;
       right: 850px;
  }
