html,
body {
  margin: 0;
  
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.header {
  flex: none;
  margin: 0px;
  height: 100px;
  overflow: hidden;
}

.footer {
  flex: none;
 
  height: 75px;
  overflow: hidden;
}

.body.outer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
}

.body.inner {
  overflow-y: scroll;
  flex: 1;
  
}

